auto {{ NIC }}
iface {{ NIC }} inet static
   address {{ hostvars[inventory_hostname].ansible_host }}
   gateway {{ GATEWAY }}
   ucarp-vid       1
  
   # Virtual Server IP
   ucarp-vip       {{ HA_IP }}
  
   # Shared Password
   ucarp-password  some_password
  
   # Advertisement skew
   ucarp-advskew   1
{% if inventory_hostname == "squid1" %} 
   # Advertisement base interval
   ucarp-advbase   0
  
   # Master server

   ucarp-master    yes
{%else %}
   ucarp-master    no
   ucarp-advbase   1
{% endif %}
# Virtual interface 
iface {{ NIC }}:ucarp inet static
  address {{ HA_IP }}/24
  gateway {{ GATEWAY }}