[Unit]
Description=UCARP as systemd unit
After=syslog.target
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/ucarp --interface=ens33 --pass=some_password --srcip={{ hostvars[inventory_hostname].ansible_host }} --vhid=1 --addr={{ HA_IP }} --shutdown --preempt --upscript=/usr/share/ucarp/vip-up --downscript=/usr/share/ucarp/vip-down -B
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target